* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: whtie;
}
body {
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  color: white;
  padding: 8px 12px;
}
.navbar__logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 8px;
}
.navbar__logo h1 {
  font-size: 21px;
}
.navbar__logo i {
  color: #f3560e;
  font-size: 30px;
}
.navbar__menu {
  display: flex;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: #f3560e;
  border-radius: 4px;
}

.navbar__menu li a {
  text-decoration: none;
  color: white;
}
.navbar__menu li a :focus {
  outline: none; /* 기본 outline은 제거 */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* 커스텀 스타일 추가 */
}
.navbar__icons {
  display: flex;
}
.navbar__icons li {
  padding: 8px 12px;
}
.navbar__icons li a {
  color: white;
}

.navbar__toggleBtn {
  display: none;
  border: none;
  position: absolute;
  right: 12px;
  top: 8px;
  background-color: transparent;
  color: #f3560e;
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* display: none; */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icons {
    /* display: none; */
    justify-content: center;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .navbar__toggleBtn {
    display: block;
    cursor: pointer;
  }
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
    max-height: 500px; /* 실제 콘텐츠의 높이보다 충분히 큰 값 */
    opacity: 1;
  }
}
